* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_1860 {
  width: 100%;
  height: 1414px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_2 {
  width: 100%;
  height: 420px;
  background: url("../images/v2_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 15px;
  overflow: hidden;
}
.v1_1917 {
  width: 100%;
  height: 400px;
  background: url("../images/v1_1917.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v1_1919 {
  width: 470px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 141px;
  left: 44px;
  font-family: Inter;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}
.v1_1931 {
  width: 300px;
  height: 80px;
  background: rgba(247,5,5,1);
  opacity: 1;
  position: absolute;
  top: 328px;
  left: 66px;
  overflow: hidden;
}
.v1_1961 {
  width: 300px;
  height: 80px;
  background: rgba(247,5,5,1);
  opacity: 1;
  position: absolute;
  top: 328px;
  left: 66px;
  overflow: hidden;
}
.v1_1932 {
  width: 202px;
  color: rgba(247,241,241,1);
  position: absolute;
  top: 346px;
  left: 115px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v1_1962 {
  width: 202px;
  color: rgba(247,241,241,1);
  position: absolute;
  top: 346px;
  left: 115px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v1_1934 {
  width: 250px;
  height: 200px;
  background: url("../images/v1_1934.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 618px;
  left: 115px;
  overflow: hidden;
}
.v1_1941 {
  width: 250px;
  height: 200px;
  background: url("../images/v1_1941.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 618px;
  left: 450px;
  overflow: hidden;
}
.v1_1944 {
  width: 250px;
  height: 200px;
  background: url("../images/v1_1944.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 618px;
  left: 785px;
  overflow: hidden;
}
.v1_1947 {
  width: 250px;
  height: 200px;
  background: url("../images/v1_1947.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 612px;
  left: 1117px;
  overflow: hidden;
}
.v1_1936 {
  width: 128px;
  color: url("../images/v1_1936.png");
  position: absolute;
  top: 833px;
  left: 115px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1942 {
  width: 182px;
  color: url("../images/v1_1942.png");
  position: absolute;
  top: 833px;
  left: 450px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1945 {
  width: 121px;
  color: url("../images/v1_1945.png");
  position: absolute;
  top: 833px;
  left: 820px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1948 {
  width: 151px;
  color: url("../images/v1_1948.png");
  position: absolute;
  top: 833px;
  left: 1151px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1935 {
  width: 400px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 510px;
  left: 515px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v1_1937 {
  width: 200px;
  height: 56px;
  background: rgba(17,17,17,1);
  opacity: 1;
  position: absolute;
  top: 909px;
  left: 137px;
  overflow: hidden;
}
.v1_1943 {
  width: 200px;
  height: 56px;
  background: rgba(17,17,17,1);
  opacity: 1;
  position: absolute;
  top: 909px;
  left: 472px;
  overflow: hidden;
}
.v1_1946 {
  width: 200px;
  height: 56px;
  background: rgba(17,17,17,1);
  opacity: 1;
  position: absolute;
  top: 909px;
  left: 807px;
  overflow: hidden;
}
.v1_1949 {
  width: 200px;
  height: 56px;
  background: rgba(17,17,17,1);
  opacity: 1;
  position: absolute;
  top: 909px;
  left: 1142px;
  overflow: hidden;
}
.v1_1956 {
  width: 100%;
  height: 24px;
  background: url("../images/v1_1956.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 221px;
  opacity: 1;
  position: absolute;
  top: 924px;
  left: 176px;
  overflow: hidden;
}
.v1_1940 {
  width: 117px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1953 {
  width: 117px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 338px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1954 {
  width: 117px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 676px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1955 {
  width: 117px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1014px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1957 {
  width: 100%;
  height: 200px;
  background: rgba(17,17,17,1);
  opacity: 1;
  position: absolute;
  top: 993px;
  left: 15px;
  overflow: hidden;
}
.v1_1959 {
  width: 564px;
  color: url("../images/v1_1959.png");
  position: absolute;
  top: 1000px;
  left: 441px;
  font-family: Inter;
  font-weight: Bold;
  opacity: 1;
  text-align: center;
}
.v1_1963 {
  width: 250px;
  height: 55px;
  background: rgba(247,5,5,1);
  opacity: 1;
  position: absolute;
  top: 1109px;
  left: 602px;
  overflow: hidden;
}
.v1_1965 {
  width: 203px;
  color: rgba(255,250,250,1);
  position: absolute;
  top: 1115px;
  left: 617px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v1_1865 {
  width: 100%;
  height: 80px;
  background: rgba(17,17,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_1916 {
  width: 840px;
  height: 29px;
  background: url("../images/v1_1916.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 70px;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 477px;
  overflow: hidden;
}
.v1_1909 {
  width: 74px;
  color: rgba(255,250,250,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_1911 {
  width: 55px;
  color: rgba(255,250,250,1);
  position: absolute;
  top: 0px;
  left: 144px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_1910 {
  width: 97px;
  color: rgba(255,250,250,1);
  position: absolute;
  top: 0px;
  left: 269px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_1912 {
  width: 82px;
  color: rgba(255,250,250,1);
  position: absolute;
  top: 0px;
  left: 436px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_1913 {
  width: 62px;
  color: rgba(255,250,250,1);
  position: absolute;
  top: 0px;
  left: 588px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_1914 {
  width: 120px;
  color: rgba(255,250,250,1);
  position: absolute;
  top: 0px;
  left: 720px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_1866 {
  width: 153px;
  color: rgba(255,249,249,1);
  position: absolute;
  top: 32px;
  left: 24px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}



.v1_1919::before {
  content: "NEW COLLECTION 2026\A Best Running Shoes";
  white-space: pre-line;
  color: #000;
  font-size: 32px;
  font-weight: bold;
}

.v1_1937::after,
.v1_1943::after,
.v1_1946::after,
.v1_1949::after {
  content: "add to cart";
  color: #fff;
  position: absolute;
  top: 15px;
  left: 40px;
  font-weight: bold;
}
.v1_1919 {
  color: transparent;
}